<br />
<div class="panel panel-default">
	<div class="panel-heading"><h4>About Chris</h4></div>
	<div class="panel-body">
		<img src="https://d1qb2nb5cznatu.cloudfront.net/users/1602987-medium_jpg?1443916797" class="img-circle">
		<br />
		<p>Chris Curtis, also known by his furry name as Astral Wolf, is an avid photographer and programmer.  He is also an active ham radio operator, with the callsign W2CCR.</p>
		<p>Chris is an active member of the furry fandom, having started attending conventions in November of 2011, after meeting his partner of 5 years, Norby.  Since then, he has attended several conventions, namely Anthrocon in Pittsburgh, and Midwest Furfest in Chicago.</p>
		<p>Chris provides photography and IT services in his spare time.  Please check out some of his examples.</p>
		<p>Chris resides in Galway, NY with his fiance Norby</p>
	</div>
</div>
