<h3>Contact me!</h3>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Old-School</h4>
			</div>
			<div class="panel-body">
				<p><b>Phone:</b>&nbsp;518-365-8115</p>
				<p><b>Address:</b><br />
					5285 Lake Road <br />
					Galway, NY 12074
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>E-Mail</h4>
			</div>
			<div class="panel-body">
				<a href="mailto:w2ccr.cc@gmail.com">w2ccr.cc@gmail.com</a>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Social Media</h4>
			</div>
			<div class="panel-body">
				<a class="btn btn-social-icon btn-twitter" href="http://www.twitter.com/w2ccr">
					<i class="fa fa-twitter"></i>
				</a>
				<a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/w2ccr">
					<i class="fa fa-facebook"></i>
				</a>
				<a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/pub/chris-curtis/56/b77/6aa">
					<i class="fa fa-linkedin"></i>
				</a>
				<a class="btn btn-social-icon btn-github" href="http://github.com/astralentity">
					<i class="fa fa-github"></i>
				</a>
				<a class="btn btn-social-icon btn-google-plus" href="https://plus.google.com/u/0/+ChrisCurtis85/about">
					<i class="fa fa-google-plus"></i>
				</a>
			</div>
		</div>
	</div>
</div>
