<div id="myCarousel" class="carousel carousel-fade slide" data-interval="3000" data-ride="carousel">
    	<!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>   
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
		<div class="active item">
                	<img src="http://placehold.it/1280x475" alt="First Slide">
         		<div class="carousel-caption left-caption text-left">
				<h3>Astral Wolf Services</h3>
                 		<p>Providing IT and Photography Services</p>
                  		<p><a href="about/" class="btn btn-success">Find out more</a></p>
                	</div>
		</div>
		<div class="item">	
                	<img src="http://placehold.it/1280x475" alt="Second Slide">
                	<div class="carousel-caption">
                  		<h3>Photography</h3>
                  		<p>Beautiful pictures from digital headshots, to stunning outdoor shots with Medium Format (6x7) film</p>
                  		<p><a href="photography/" class="btn btn-success">Click Here</a></p>
                	</div>
            	</div>
            	<div class="item">
                	<img src="http://placehold.it/1280x475" alt="Third Slide">
                	<div class="carousel-caption">
                  		<h3>IT Services</h3>
                	  	<p>Web programming and design using modern frameworks</p>
				<p><a href="itserv/" class="btn btn-success">Click Here</a></p>
                	</div>
            	</div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        	<span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
        </a>
</div>
